[buildout]
develop = .
parts = test
extensions = mr.developer

# mr.developer
always-checkout = true
auto-checkout = *
sources = sources
sources-dir = checkouts


[sources]
crom = git https://github.com/Cromlech/crom.git
grokker = git https://github.com/Cromlech/grokker.git
cromlech.events = git https://github.com/Cromlech/cromlech.events.git
cromlech.container = git https://github.com/Cromlech/cromlech.container.git


[test]
recipe = zc.recipe.egg
initialization =
    import sys
    if not sys.argv[1:]: sys.argv.append('src')
    sys.argv.append('--doctest-modules')
eggs =
    pytest
    dolmen.container [test]
